

/* Debugging classes */

.bg-red {
    background-color: #EF476F;
}

.bg-blue {
    background-color: #118AB2;
}

.bg-green {
    background-color: #06D6A0;
}

.bg-yellow {
    background-color: #FFD166;
}

.bg-lightgray{
    background-color: #c2c2c2;
}