:root {
    --navBarHeight: 60px !important;
}

*:not(.material-icons) {
    font-family: 'Space Grotesk', sans-serif !important;
}

.app-navbar {
    height: var(--navBarHeight);
    display: flex;
    justify-content: center;
}

.full-body-height {
    height: calc(100vh - var(--navBarHeight));
}

.main-wrapper {
    min-height: calc(100vh - var(--navBarHeight));
    height: auto;
}

.navbar-logo {
    width: 90%;
}

.min-h-100 {
    min-height: 100%;
}

.img-rounded {
    border-radius: 9px;
}

.circle {
    border-radius: 100%;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}