:root{
    --navBarHeight: 60px !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

.app-navbar{
    height: var(--navBarHeight);
}

.full-body-height{
    height: calc(100vh - var(--navBarHeight));
}

.main-wrapper{
    background-color: #fff;
    padding-left: 140px;
    padding-right: 140px;
    width: 100vw;
    min-height: calc(100vh - var(--navBarHeight));
}