:root {
    --navBarHeight: 60px !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

.app-navbar {
    height: var(--navBarHeight);
    display: flex;
    justify-content: center;
}

.full-body-height {
    height: calc(100vh - var(--navBarHeight));
}

.main-wrapper {
    background-color: #fff;
    width: 100vw;
    min-height: calc(100vh - var(--navBarHeight));
    padding: 10px;
}

.navbar-logo {
    width: 200px;
}

/* Debugging classes */

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

.bg-green {
    background-color: green;
}